{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'img/meuplantao.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div id="wrapper" class="d-flex">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <button class="btn btn-secondary d-lg-none m-2" id="menu-toggle">☰ Menu</button>
      <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#">Home</a></li>
        <li><a href="{% url 'cal:calendar' %}">Calendário</a></li>
        <li><a href="{% url 'cal:event_new' %}">Fazer escala</a></li>
      </ul>
    </div>

    <!-- Page Content -->
    <div class="page-content inset w-100 p-3">
      <div class="container-fluid">
        {% if messages %}
        <div class="alert-messages">
          {% for message in messages %}
          <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <h1 class="title">{% block title %}{% endblock %}</h1>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <!-- JS Scripts -->
  <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>

  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
</html>
