{% extends 'base.html' %}
{% load static %}

{% block title %}Calendário{% endblock %}

{% block content %}
<div class="calendar-container">
    <div class="calendar-navigation">
        <a class="btn btn-primary" href="{% url 'cal:calendar' %}?{{ prev_month }}">
            <i class="bi bi-chevron-left"></i> Mês Anterior
        </a>
        <!-- <h2 class="calendar-title">{{ month_name|title }} {{ year }}</h2> -->
        <a class="btn btn-primary" href="{% url 'cal:calendar' %}?{{ next_month }}">
            Próximo Mês <i class="bi bi-chevron-right"></i>
        </a>
    </div>

    <div class="table-responsive">
        {{ calendar }}
    </div>
</div>
{% endblock %}