{% extends 'base.html' %}

{% block title %}Lista de Plantões{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Todos os Plantões</h2>
    {% if eventos %}
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Visualizar</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventos %}
                <tr>
                    <td>{{ evento.title }}</td>
                    <td>{{ evento.start_time|date:"d/m/Y" }}</td>
                    <!-- <td>{{ evento.end_time|date:"d/m/Y" }}</td> -->
                    <td>
                        <a class="btn btn-warning" href="{% url 'cal:event_edit' evento.id %}" >Editar</a> |
                        <a class="btn btn-danger"href="{% url 'cal:excluir_evento' evento.id %}" 
                           onclick="return confirm('Tem certeza que deseja excluir este evento?');">
                           Excluir
                        </a>
                      </td>
                      
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum evento cadastrado.</p>
    {% endif %}
</div>
{% endblock %}
